<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>nodePPT List - TooMee</title>
  <style>
  html,body{height:100%;}
  body{margin:0 auto;width:900px;color:#2C3E50;}
  a{color:#4fc3f7;text-decoration:none;}
  li,ol{margin:0;padding:0;list-style:none;}
  ol{min-height:510px;margin-bottom:40px;text-shadow:1px 1px 1px rgba(201,201,201,.5);-webkit-text-shadow:1px 1px 1px rgba(201,201,201,.5);-moz-text-shadow:1px 1px 1px rgba(201,201,201,.5);-ms-text-shadow:1px 1px 1px rgba(201,201,201,.5);-o-text-shadow:1px 1px 1px rgba(201,201,201,.5);}
  li{padding:.75em 0;border-bottom:1px dashed #ccc;font-weight:700;font-size:110%;}
  li:hover{background-color:#eee;}
  .copyright{margin:auto;padding:0;text-align:center;font-weight:400;line-height:24px;}
  .copyright h4{margin:0;}
  .copyright a, .copyright code{color:#ea7373;}
  ol a.mult-link,ol a.socket-link{margin:0 15px;}
  ol a.mult-link:before,ol a.socket-link:before{color:#000;content:'[ ';}
  ol a.mult-link:after,ol a.socket-link:after{color:#000;content:' ]';}
  ol a.socket-link{margin:0;}
  </style>
</head>
<body>
<!--
  Powered By nodePPT
  version: <%=version %>
  site: <%=site %>
-->
  <h4>当前路径：<%- dir %></h4>

  <ol><%- list -%></ol>

  <div class="copyright">
    <h4>Powered by <a title="使用NodePPT" href="<%=site%>" target="_blank">NodePPT <%=version%></a></h4>
    <h4>Modify by TooMee. Install: <code>npm i -g 52cik/nodeppt</code></h4>
  </div>
</body>
</html>